.display-card {
  padding: 16px;
  margin: 0 auto;
}

/* Slider */
.slider {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  align-items: center;
  padding: 8px 16px 12px;
  justify-content: flex-start;
  color: #00624178;
  box-shadow:
    inset -20px 0px 20px -30px,
    inset 20px 0px 20px -30px;
  border-radius: 16px;
}

.slider-item {
  cursor: grab;
  text-wrap: nowrap;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--primary-color);
  background: var(--primary-light-color);
  transition: all ease-in-out 250ms;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.slider:active .slider-item {
  cursor: grabbing;
}

.slider-item:hover {
  translate: 0 -2px;
}

/* graphic info */
.card-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge-icon {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.detail-info {
  margin: 8px 16px;
}

.graphic-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 36px 0;
  padding: 36px 0;
}

.bin-image {
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.card-badge#toxic {
  left: 10px;
  top: 105px;
}

.card-badge#flammable {
  left: 0px;
  bottom: 185px;
}

.card-badge#special-handling {
  bottom: 35px;
  left: 0px;
}

.card-badge#caution {
  left: 60px;
  bottom: -30px;
}

.card-badge#safetyGear {
  right: 105px;
  top: -30px;
}

.card-badge#washHand {
  right: 15px;
  top: 5px;
}

.card-badge#sanitize {
  top: 75px;
  right: 0px;
}

.card-badge#recyclable {
  right: 0px;
  bottom: 45px;
}

.card-badge#burnable {
  bottom: -20px;
  right: 65px;
}

.graphic-info .card-badge {
  position: absolute;
}

.detail-title {
  font-weight: 500;
  margin: 8px 0 4px;
  color: var(--primary-color);
}

.card-details-importance {
  gap: 24px 0;
  display: flex;
  margin: 24px 0;
  flex-direction: column;
}

.ai-result {
  gap: 16px;
  display: flex;
  padding: 16px;
  margin-top: 16px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  background: var(--primary-light-color);
}

.ai-result img {
  width: 40px;
}

.night-mode .slider {
  color: #000;
}
.night-mode .slider-item {
  color: var(--primary-light-color);
  background: var(--secondary-dark-color);
}

.night-mode .title-text,
.night-mode .detail-title {
  color: var(--primary-light-color);
}

@media (min-width: 767px) {
  .bin-image {
    width: 350px;
  }

  .card-badge#toxic {
    left: 95px;
    top: 55px;
  }

  .card-badge#flammable {
    left: 60px;
    bottom: 215px;
  }

  .card-badge#special-handling {
    bottom: 125px;
    left: 50px;
  }

  .card-badge#caution {
    left: 90px;
    bottom: 30px;
  }

  .card-badge#recyclable {
    right: 80px;
    bottom: 50px;
  }

  .card-badge#burnable {
    bottom: -20px;
    right: 165px;
  }

  .card-badge#safetyGear {
    right: 105px;
    top: 0;
  }

  .card-badge#washHand {
    right: 60px;
    top: 85px;
  }

  .card-badge#sanitize {
    top: 175px;
    right: 60px;
  }

  .badge-icon {
    width: 50px;
    height: 50px;
  }
}
