.language_options {
  gap: 16px;
  top: 60px;
  right: 4px;
  z-index: 1;
  width: 320px;
  max-height: 70dvh;
  overflow: scroll;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.language-item {
  flex: 40%;
  width: 130px;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
}
