/* navigation heading */
.text-link {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: all ease-in-out 200ms;
}
.text-link:hover {
  color: var(--main-color);
  background: var(--light-gray);
}

.bin-name-link {
  display: table;
  cursor: pointer;
}

.detail-info {
  padding: 16px;
  background: var(--overlay-color);
  border-radius: 20px;
  box-shadow: var(--primary-box-shadow);
}

.detail-info li {
  margin: 0 16px 16px;
  list-style: none;
  padding-left: 8px;
  border-left: 3px solid var(--main-color);
}

.items-list {
  max-height: 300px;
  overflow: scroll;
}

.detail-title {
  margin: 8px 0 4px;
  color: var(--main-color);
}

.card-details-importance {
  gap: 24px 0;
  display: flex;
  margin: 24px 0;
  flex-direction: column;
}

.ai-result {
  gap: 16px;
  display: flex;
  padding: 16px;
  margin-top: 16px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: yellowgreen;
  background: green;
}

.ai-result img {
  width: 40px;
}

img.recommendedBin {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 24px;
}

.readMore a {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .detail-info {
    padding: 24px;
  }
}
