.search-container {
  display: flex;
  margin: 8px auto;
  max-width: 320px;
  border-radius: 50px;
  align-items: center;
  position: relative;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.search-container input,
.search-container button {
  height: 42px;
  padding: 16px;
  border: none;
  display: flex;
  align-items: center;
  background: var(--overlay-color);
}

.search-container input {
  width: 100%;
  font-weight: 500;
  color: var(--text-color);
  border-radius: 50px 0 0 50px;
}

.search-container input::placeholder {
  opacity: 0.7;
  font-weight: 500;
  color: var(--text-color);
}

.search-container input:focus-visible {
  outline: none;
}

.search-container button {
  cursor: pointer;
  border-radius: 0 50px 50px 0;
}

.search-container .search-icon {
  width: 16px;
  transition: all ease-in-out 200ms;
}

.search-container:hover .search-icon {
  scale: 1.1;
}

ul.search-options {
  top: 0px;
  width: 320px;
  /* margin: 0 auto; */
  z-index: -1;
  background: var(--overlay-color);
  list-style-type: none;
  padding: 50px 16px 16px;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 280px;
  /* align-items: center; */
  overflow: scroll;
}

.search-options li {
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: all ease-in-out 250ms;
}

.search-options li:hover {
  color: var(--main-color);
  background: var(--option-bg-color);
}
