.search-container {
  display: flex;
  margin: 8px auto;
  max-width: 320px;
  border-radius: 50px;
  align-items: center;
  position: relative;
  justify-content: center;
  background: var(--main-background);
  box-shadow: var(--primary-box-shadow);
}

input,
button {
  max-height: 42px;
  padding: 12px 16px;
  border: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  background: var(--main-background);
}

.search-container .search-input {
  width: 100%;
  font-weight: 500;
  border-radius: 50px 0 0 50px;
}

input {
  color: var(--text-color);
}

input[type='text']::placeholder {
  opacity: 0.7;
  font-weight: 500;
  color: var(--text-color);
}

input:focus-visible {
  outline: none;
}

.search-container .search-button {
  border-radius: 0 50px 50px 0;
}

button {
  cursor: pointer;
}
button:hover {
  transition: 0 2px;
}

.disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.search-container .search-icon {
  width: 16px;
  transition: all ease-in-out 200ms;
}

.search-container .search-icon:hover,
.search-container .image-search-icon:hover {
  scale: 1.1;
}

.search-container .image-search-icon {
  width: 24px;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

ul.search-options {
  top: 0px;
  width: 320px;
  z-index: -1;
  list-style-type: none;
  padding: 50px 16px 16px;
  border-radius: 25px;
  flex-direction: column;
  height: 280px;
  overflow: scroll;
}

.search-options li {
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 8px;
  transition: all ease-in-out 250ms;
}
.search-options li:hover {
  color: var(--main-color);
  background: var(--hover-background);
}

.searching {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  border: 7px dotted var(--main-color);
  animation: rotate 1000ms infinite linear;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
