.category-main {
  top: 0;
  gap: 24px;
  flex: 1 2;
  display: flex;
  position: sticky;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.category-list {
  flex: 2 1;
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-item {
  width: 180px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  padding: 12px 8px;
  border-radius: 8px;
  text-align: center;
  color: var(--primary-color);
  transition: all ease-in-out 200ms;
  background: var(--primary-light-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.nav-item:hover {
  translate: 0 2px;
}

.breakpoint {
  width: 100%;
  display: block;
}

.night-mode .nav-item {
  color: var(--primary-light-color);
  background: var(--primary-dark-color);
}

.nav-item.active {
  color: var(--primary-light-color);
  background: var(--primary-color);
}
