.header {
  top: 0;
  gap: 16px;
  z-index: 10;
  display: flex;
  padding: 8px 0;
  position: sticky;
  flex-direction: column;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin: 0 16px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.nav-icon:hover {
  translate: 0 2px;
}

.nav-menu {
  position: absolute;
  left: 0;
  gap: 24px;
  top: 50px;
  width: 100%;
  z-index: 99;
  height: 80vh;
  padding: 32px;
  display: flex;
  overflow: scroll;
  max-width: 750px;
  border-radius: 20px;
  background: #d6ddcda3;
  align-items: flex-start;
  backdrop-filter: blur(8px);
}

.night-mode .nav-menu {
  background: #162210d6;
}
