.header {
  gap: 16px;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  padding: 8px 0;
  position: relative;
  flex-direction: column;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin: 0 16px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.nav-icon:hover {
  translate: 0 2px;
}

.scroll-title {
  color: var(--text-color);
  transition: all ease-in-out 500ms;
}

.scroll-title.initialScrollFontSize {
  font-size: 32px;
}

.scroll-title.smallerScrollFontSize {
  font-size: 24px;
}

.border-default {
  border: 1px solid var(--main-color);
}

.border-list-item {
  border-left: 3px solid var(--main-color);
}
