.footer-container {
  gap: 16px;
  display: flex;
  padding: 24px;
  margin: 0 auto;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background: linear-gradient(0deg, var(--overlay-color), #0000);
}

.footer-container a {
  text-decoration: underline;
}
