.footer-container {
  width: 95%;
  display: flex;
  font-size: 12px;
  margin: 16px auto;
  border-radius: 8px;
  padding: 12px 16px;
  align-items: center;
  color: var(--primary-color);
  justify-content: space-between;
  background: var(--primary-light-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -15px;
}

.night-mode .footer-container {
  color: var(--primary-light-color);
  background: var(--secondary-dark-color);
  box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -15px;
}
