.popup {
  display: flex;
  padding: 16px;
  position: absolute;
  border-radius: 16px;
  background: var(--main-background);
  outline: 1px solid var(--main-color);
  box-shadow: var(--primary-box-shadow);
  transition: all ease-in-out 250ms;
}

.nav-menu {
  left: 1%;
  gap: 8px;
  top: 60px;
  width: 98%;
  z-index: 2;
  height: 70dvh;
  overflow: hidden;
  max-width: 660px;
  border-radius: 16px;
  align-items: flex-start;
}

.category-menu {
  gap: 24px;
  height: 100%;
  overflow: scroll;
  flex: 1 2;
  display: flex;
  padding-right: 8px;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-in-out 250ms;
  border-right: 1px solid var(--main-color);
}

.menu-item {
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  transition: all ease-in-out 250ms;
}

.menu-item:hover {
  translate: 0 2px;
  color: var(--main-color);
  background: var(--hover-background);
}

.menu-item.active {
  color: var(--main-color);
  background: var(--hover-background);
}

.category-menu-item {
  padding: 8px;
}

.category-list {
  flex: 2 1;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
  column-gap: 8px;
  max-height: 100%;
  flex-wrap: wrap;
}

.category-list .category-card {
  margin-bottom: 24px;
  background: var(--hover-background);
}
.category-list .category-card:hover {
  background: var(--menu-card-hover-background);
}

.separator {
  width: 100%;
  display: block;
}

@media (min-width: 389px) {
  .nav-menu {
    gap: 16px;
  }

  .category-menu {
    padding-right: 16px;
  }
}

@media (min-width: 768px) {
  .nav-menu {
    gap: 24px;
    height: 580px;
    padding: 24px;
  }

  .category-menu {
    padding-right: 24px;
  }

  .menu-item {
    padding: 8px 16px;
  }

  .category-list {
    row-gap: 16px;
    column-gap: 32px;
    justify-content: space-between;
  }
}
