.app-container {
  position: relative;
  font-weight: 500;
}

.app-container * {
  transition: all ease-in-out 250ms;
}

.app-container.night-mode {
  color: var(--text-color);
  background: var(--body-background);
}

.container {
  width: 98%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 680px;
  position: relative;
  overflow: hidden;
}

.header-sticky-wrapper {
  top: 0;
  z-index: 10;
  position: sticky;
  padding-bottom: 16px;
  backdrop-filter: blur(1.5px);
  background: linear-gradient(180deg, var(--main-background), #ffffff00);
}

.focus-scroll .container {
  opacity: 0.4;
}

.text-body {
  font-size: 14px;
}

.text-title {
  font-size: 16px;
  text-transform: capitalize;
}

.text-heading {
  font-size: 16px;
  text-transform: uppercase;
}

.text-heading::first-letter {
  font-size: 18px;
}

.text-subheading {
  font-size: 16px;
}

.text-title,
.text-heading,
.text-subheading {
  font-weight: 600;
  color: var(--main-color);
  display: block;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.cursor-pointer {
  cursor: pointer;
}

img {
  width: 100%;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  image-rendering: -webkit-optimize-contrast;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-8 {
  margin-left: 8px;
}

.my-16 {
  margin: 16px 0;
}

.py-100 {
  padding: 100px 0;
}

.gap-16 {
  gap: 16px;
}

.border-default {
  border: 1px solid var(--main-color);
}

.border-list-item {
  border-left: 3px solid var(--main-color);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  gap: 24px;
  display: flex;
  margin: 24px 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.row > div {
  flex: 1;
  gap: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-container {
  height: calc(100dvh - 280px);
}

.scroll-arrow {
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 200ms;
}

.scroll-arrow img {
  width: 16px;
}

.scroll-arrow:hover {
  translate: 0 2px;
  background: var(--main-background);
  border: 1px solid var(--main-color);
}

.toggle-arrow {
  width: 16px;
  scale: -1;
}
.rotate-180 {
  transition: all ease-in-out 200ms;
  rotate: 180deg;
}

#scrollToTop,
#scrollDown {
  position: fixed;
  bottom: 300px;
  right: 16px;
}

#scrollDown {
  bottom: 260px;
  rotate: 180deg;
}

.mobile-pointer {
  cursor: pointer;
}

@media (min-width: 767px) {
  .text-heading {
    font-size: 18px;
  }

  .text-heading::first-letter {
    font-size: 20px;
  }
  .row {
    margin-bottom: 100px;
    flex-direction: row;
  }
  #scrollToTop,
  #scrollDown {
    right: calc((100svw - 680px) / 2 - 32px);
  }

  .mobile-pointer {
    cursor: unset;
  }
}
