.app-container {
  position: relative;
  font-weight: 500;
}

.app-container.night-mode {
  color: var(--text-color);
  background: var(--dark-color);
}

.container {
  width: 98%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 680px;
  position: relative;
}

.header-sticky-wrapper {
  top: 0;
  z-index: 10;
  position: sticky;
  background: linear-gradient(180deg, var(--overlay-color), #ffffff00);
  padding-bottom: 16px;
  backdrop-filter: blur(3px);
}

.text-body {
  font-size: 14px;
}

.text-title {
  text-transform: capitalize;
  font-size: 16px;
}

.text-heading {
  text-transform: uppercase;
  font-size: 18px;
}

.text-heading::first-letter {
  font-size: 20px;
}

.text-subheading {
  font-size: 16px;
}

.text-title,
.text-heading,
.text-subheading {
  font-weight: 600;
  color: var(--main-color);
  display: block;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-16 {
  margin-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.my-16 {
  margin: 16px 0;
}

.py-100 {
  padding: 100px 0;
}

.row {
  gap: 24px;
  display: flex;
  margin: 24px 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.row > div {
  flex: 1;
  gap: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-16 {
  gap: 16px;
}

.g-32 {
  gap: 32px;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.loading-container {
  height: calc(100dvh - 280px);
}

.scroll-arrow {
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 200ms;
}

.scroll-arrow img {
  width: 16px;
}

.scroll-arrow:hover {
  translate: 0 2px;
  background: var(--overlay-color);
  border: 1px solid var(--main-color);
}

#scrollToTop,
#scrollDown {
  position: fixed;
  bottom: 300px;
  right: 16px;
}

#scrollDown {
  bottom: 260px;
  rotate: 180deg;
}

@media (min-width: 767px) {
  .row {
    margin: 50px 0;
    flex-direction: row;
  }
  #scrollToTop,
  #scrollDown {
    right: calc((100svw - 680px) / 2 - 32px);
  }
}
