@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --title-size: 24px;
  --heading-size: 18px;
  --subheading-size: 16px;
  --text-size: 14px;
  --white: #fff;
  --bg-color: floralwhite;
  --main-green: #006241;
  --main-light-green: #dff9ba;
  --secondary-light-green: #d4e9e2;
  --main-dark-green: #1e3932;
  --secondary-dark-green: #162210;
  --overlay-dark-green: #162210cc;
  --light-gray: #f4f4f4;
  --overlay-light-gray: #f4f4f4cc;
  --error-color: red;
  --primary-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-size: var(--text-size);
  color: var(--main-dark-green);
}
