@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --main-color: #006241;
  --text-color: #1e3932;
  --body-background: #1e3932;
  --main-background: #e4e4e4;
  --hover-background: #f5f5f5;
  --menu-card-hover-background: #fff;
  --primary-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  --image-hover-text-bg: #e4e4e4ad;
}

:root .night-mode,
:root .night-mode * {
  --main-color: #dff9ba;
  --text-color: #d4e9e2;
  --main-background: #0c2108;
  --hover-background: #1e3932;
  --menu-card-hover-background: #0c120884;
  --primary-box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -20px;
  --image-hover-text-bg: #0c120884;
}
/* #162210 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-size: 14px;
  color: var(--text-color);
}
