/* Slider */
.slider-container {
  margin: 50px 0;
  position: relative;
}

.slider {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
  overflow-x: scroll;
  padding: 8px 0 32px;
}

.slick-slider.slider .slick-track {
  display: flex;
  gap: 16px;
}

/* slick slider arrow */
.slick-arrow {
  bottom: -24px;
}

.slick-prev {
  right: 60px;
}

.slick-prev img {
  rotate: -90deg;
}

.slick-next {
  right: 16px;
}

.slick-next img {
  rotate: 90deg;
}

@media (min-width: 767px) {
  .slider-container .category-card {
    margin: 0 16px;
  }
}
