#attributes-section {
  display: flex;
  margin: 24px 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.attributes-wrapper {
  width: 220px;
  height: 220px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.bin-image {
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--primary-box-shadow);
}

.badge-icon {
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.attribute-badge {
  position: absolute;
  gap: 4px;
  width: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  cursor: default;
}

#recyclable {
  top: -100px;
  left: 25px;
  animation: upDown 8s ease-in-out infinite alternate;
}

#burnable {
  top: -75px;
  left: -50px;
  animation: upDown 4s ease-in-out infinite alternate-reverse;
}
#toxic {
  left: -70px;
  bottom: 40px;
  animation: upDown 5s ease-in-out infinite alternate;
}
#flammable {
  bottom: -35px;
  left: -40px;
  animation: upDown 6s ease-in-out infinite alternate-reverse;
}

#special-handling {
  bottom: -80px;
  left: 40px;
  animation: upDown 6s ease-in-out infinite alternate;
}

#caution {
  left: 120px;
  bottom: -90px;
  animation: upDown 4s ease-in-out infinite alternate;
}

#safetyGear {
  top: -100px;
  right: 0px;
  animation: upDown 8s ease-in-out infinite alternate;
}

#washHand {
  right: -65px;
  top: -25px;
  animation: upDown 6s ease-in-out infinite alternate-reverse;
}

#sanitize {
  bottom: 75px;
  right: -65px;
  animation: upDown 6s ease-in-out infinite alternate;
}

.hide {
  display: none;
}

@keyframes upDown {
  from {
    translate: 0px;
  }

  to {
    translate: 0 10px;
  }
}

@media (min-width: 767px) {
  .attributes-wrapper {
    width: 350px;
    height: 350px;
  }

  .attribute-badge {
    width: 120px;
    font-size: 14px;
  }

  .badge-icon {
    width: 50px;
    height: 50px;
  }

  #recyclable {
    top: -84px;
    left: 10px;
  }
  #burnable {
    top: -10px;
    left: -85px;
  }
  #caution {
    left: 154px;
    bottom: -112px;
  }
  #toxic {
    left: -90px;
    bottom: 51px;
  }

  #flammable {
    bottom: -35px;
    left: -37px;
  }

  #special-handling {
    bottom: -89px;
    left: 52px;
  }
  #safetyGear {
    right: 10px;
    top: -100px;
  }
  #washHand {
    right: -80px;
    top: -10px;
  }
  #sanitize {
    right: -110px;
    top: 0px;
  }
}
